.profile__wrap {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-top: 50px;

  border: 6px solid rgb(129, 130, 184);
  border-radius: 6px;

  margin-bottom: 20px;
}

.profile__avatar {
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  border-radius: 50%;
}

.stats {
  composes: list from '../../App.module.css';
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.stats__item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);

  padding: 8px 0;

  border-top: 2px solid rgb(129, 130, 184);
  outline: 2px solid rgb(129, 130, 184);
}
