.Friend__status {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 30px;
  border-radius: 50%;
}

.Friend__avatar {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.Friend__name {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 700;
}
