.Statistics {
  display: block;
  border: 6px solid blue;
  border-radius: 6px;

  margin-bottom: 10px;
}

/* .Stats__title { */
/* font-style: italic; */
/* } */

.Stats__list {
  composes: list from '../../App.module.css';

  display: flex;
  align-items: center;
  min-width: 350px;
  outline: 2px solid blue;
}

.Stats__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-basis: 100%; */
  padding: 5px 0;

  outline: 1px solid blue;
}
