.Statistics {
  display: block;
  border: 6px solid blue;
  border-radius: 6px;

  margin-bottom: 10px;
}

.Stats__title {
  text-transform: uppercase;
}

.Stats__list {
  composes: list from '../../index.css';

  display: flex;
  align-items: center;
  min-width: 350px;
  outline: 2px solid blue;
}

.Stats__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  overflow: hidden;

  outline: 1px solid blue;
}
