.Friend__list {
  composes: list from '../../index.css';

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: auto;
  padding: 10px 0;
}
