/* body{} */

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 800px;
  height: 100%;
  margin: 0;
  padding: 10px;

  text-align: center;
}

.image {
  border: 3px solid lightseagreen;
  border-radius: 10px;
}
